{%extends 'charts/base.html'%}


{%block title%}
Home
{%endblock title%}


{%block content%}
<h4 style="font-family:'Apple Chancery'; font-size: 32px;">Time: {{time}} </h4>



<div class="container-fluid">
    <div class="row" style="background-color: teal;" style="overflow-x:auto;">
        <div class="">
            <h3 class="text-dark">Stats </h3>
            <hr>

        </div>
        <div class="overflow-auto w-100 h-10 center3" style="background-color:DodgerBlue;">
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th>No. of DPC in Master</th>
                        <th>No. of TC in Master</th>
                        <th>No. of MC in Master</th>
                        
                    </tr>
                    <tr class='danger'>
                        <td class='text-primary'>{{a}}</td>
                        <td class='text-primary'>{{b}}</td>
                        <td class='text-primary'>{{c}}</td>
                        

                    </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <th>No. of Parts of DPC in Master</th>
                        <th>No. of Parts of TC in Master</th>
                        <th>No. of Parts of MC in Master</th>
                
                    </tr>
                    <tr class='danger'>
                        <td class='text-primary'>{{i}}</td>
                        <td class='text-primary'>{{j}}</td>
                        <td class='text-primary'>{{k}}</td>
                
                
                    </tr>
                
                
                </tbody>
                <tbody>
                
                    <tr>
                        <th>No. of Remarks about DPC in Master</th>
                        <th>No. of Remarks about TC in Master</th>
                        <th>No. of Remarks about MC in Master</th>
                       
                    </tr>
                    <tr class='danger'>
                        <td class='text-primary'>{{d}}</td>
                        <td class='text-primary'>{{e}}</td>
                        <td class='text-primary'>{{f}}</td>
                        
                
                    </tr>
                
                
                </tbody>

                <tbody>
                
                    <tr>
                        <th>No. of Attended Remarks about DPC in Master</th>
                        <th>No. of Attended Remarks about TC in Master</th>
                        <th>No. of Attended Remarks about MC in Master</th>
                       
                    </tr>
                    <tr class='danger'>
                        <td class='text-primary'>{{l}}</td>
                        <td class='text-primary'>{{m}}</td>
                        <td class='text-primary'>{{n}}</td>
                        
                
                    </tr>
                
                
                </tbody>

                <tbody>
                
                    <tr>
                        <th>No. of Not Attended Remarks about DPC in Master</th>
                        <th>No. of Not Attended Remarks about TC in Master</th>
                        <th>No. of Not Attended Remarks about MC in Master</th>
                       
                    </tr>
                    <tr class='danger'>
                        <td class='text-primary'>{{o}}</td>
                        <td class='text-primary'>{{p}}</td>
                        <td class='text-primary'>{{q}}</td>
                        
                
                    </tr>
                
                
                </tbody><tbody>
                
                    <tr>
                        <th>No. of Material Unavailability Remarks about DPC in Master</th>
                        <th>No. of Material Unavailability Remarks about TC in Master</th>
                        <th>No. of Material Unavailability Remarks about MC in Master</th>
                       
                    </tr>
                    <tr class='danger'>
                        <td class='text-primary'>{{r}}</td>
                        <td class='text-primary'>{{s}}</td>
                        <td class='text-primary'>{{t}}</td>
                        
                
                    </tr>
                
                
                </tbody>

                <tbody>
                
                    <tr>
                        <th>No. of Temporarily Attended Remarks about DPC in Master</th>
                        <th>No. of Temporarily Attended Remarks about TC in Master</th>
                        <th>No. of Temporarily Attended Remarks about MC in Master</th>
                       
                    </tr>
                    <tr class='danger'>
                        <td class='text-primary'>{{u}}</td>
                        <td class='text-primary'>{{v}}</td>
                        <td class='text-primary'>{{w}}</td>
                        
                
                    </tr>
                
                
                </tbody>
                
            </table>
        </div>
    </div>
</div>



                {%endblock content%}
                {%block afterbody%}

                {%endblock afterbody%}