{%extends 'charts/base.html'%}


{%block title%}
{{ object.TCName }}. POH Date {{ object.POHDate}}
{%endblock title%}


{%block content%}
<div class="center">
<h1>Deficiencies Report of {{ object.TCName }}. POH Date {{ object.POHDate}}.  TC-ID: {{object.id}}</h1>
</div>
<div class="row center">
    <div class="col center2">
        <form method="POST" action="{%url 'addTCremark' object.pk %}">
            {% csrf_token %}
            <h3 style="color:black; font-family:sans-serif; font-style:italic"> Add New Deficiency</h3>
            <h5>Use the Autofill to fetch the part and the deficiency from the database</h5>
            <input type="text" id="Part" name="Part" style="background-color: white; color:black" placeholder="Category"
                aria-label="Category" />
                <script>
                    $("#Part").autocomplete({
                        source: '{%url 'TCpartAutocomplete'%}'
                                    });
                </script>
            <input type="text" id="Def" name="Def" style="background-color: white; color:black" placeholder="Section"
                aria-label="Section" />
                <script>
                    $("#Def").autocomplete({
                        source: '{%url 'TCdefAutocomplete'%}'
                                        });
                </script>
            
                <br>
                <input type="text" id="Details" name="Details" style="background-color: white; color:black" placeholder="Details" aria-label="Details"/>
                <input type="text" id="Status" name="Status" style="background-color: white; color:black" placeholder="Status" aria-label="Status"/>
                <script>
                    $("#Status").autocomplete({
                        source: '{%url 'StatusAutocomplete'%}'
                                    });
                </script>
                <br>
            
            <input type="submit" value="save" style="background-color: lightcoral; color:black" />
        </form>
    </div>
    

</div>
<div class="center">
<div style="flex-grow: 8; background-color:DodgerBlue;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>S.No</th>
                    <th>Category</th>
                    <th>Section</th>
                    
                    <th>Details</th>
                    <th>Status</th>
            </tr>
        </thead>

        <tbody>
            {%for obj in q %}
            <tr class='danger'>
                <td class='text-primary'>{{forloop.counter}}</td>
                <td class='text-primary'>{{obj.TCDefArea}}</td>
                    <td class='text-primary'>{{obj.TCSecArea}}</td>
                    <td class='text-primary'>{{obj.TCDef}}</td>
                    <td class='text-primary'>{{obj.TCStatus}}</td>
            </tr>
            {%endfor%}
        </tbody>

    </table>
</div>

    
</div>

{%endblock content%} {% block afterbody %}
<script>
    $("#moduleName").autocomplete({
        source: ''
    });
</script>

{% endblock afterbody %}